<div cdkDropList class="card-list" (cdkDropListDropped)="drop($event)"> 
    <div class="card-box" *ngFor="let item of items" 
        cdkDrag
        [class.hide]='isDragging && item.checked'
        (cdkDragStarted)='dragStatred(item)'
        [cdkDragDisabled]='isItemDisabled(item)'>
        <mat-checkbox [checked]='item.checked' 
                      (change)='checkBoxChange(item,$event)'>
                      {{item.name}}
        </mat-checkbox>
        <div *cdkDragPlaceholder class="card-custom-placeholder"></div>
        <div *cdkDragPreview class='card-box card-preview'>
            <div>
                {{item.name}}
                <span *ngIf='selections.length' class="badge badge-pill badge-primary">{{selections.length}}</span>
            </div>
        </div>
    </div>
</div>